/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Mulish, sans-serif;
  background-color: #fff;
}

:root {
  --primary: #147efb;
  --secondary: #fff;
}

/* Navbar */
.navbar__container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  padding: 25px 40px 25px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar__content {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar__logo {
  cursor: pointer;
}

.navbar__links {
  color: #2d2e32;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.23s;
}

.navbar__links:hover {
  color: var(--primary);
}

.mobile-menu {
  cursor: pointer;
  display: none;
  font-size: 2.3rem;
}

/* About Section */
.about {
  background-color: #fff;
  padding: 15rem 0;
}

.about__container { /* Add a class for the container */
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  width: 70%;
  margin: 0 auto;
}

.img-side__main-img {
  border-radius: 1.7rem;
  height: 450px;
  width: 350px;
}

.text-side h3 {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.text-side h4 {
  color: #2d2e32;
  font-family: Poppins, sans-serif;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.text-side p {
  color: #767676;
  font-family: Mulish, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
}

/* Project Section */
.projects h3 {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  gap: 10px;
  padding: 100px 100px;
  background-color: #f5f5f5;
}

.project-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 100px 100px;
}

.project-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-img {
  width: 100%;
  object-fit: cover;
}

.project-row-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25px;
}

.project-column-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.projects h4,
.projects p { /* Consolidate common styles for headings and paragraphs */
  color: #2d2e32;
  font-family: Poppins, sans-serif;
}

.projects h3 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.projects h4 {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.projects p {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
}

/* Contact Section */
.contact {
  display: flex;
  justify-content: space-between;
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  padding: 100px;
}

.contact li {
  list-style: none;
  display: inline-block;
}

.contact a {
  margin: 50px;
  padding: 80px 1px;
  text-decoration: none;
  font-size: 1.3rem;
  opacity: 0.7;
  transition: 0.5s;
}

.contact a:hover {
  opacity: 1;
}

.contact__content {
  display: flex;
  flex-direction: column;
}

.contact__content h3 {
  color: #2d2e32;
  font-size: 2.5rem;
}

/* Footer */
footer {
  background-color: #2d2e32;
  padding: 5rem 0;
  width: 100%;
}

.footerc {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

footer h3 {
  display: flex;
  margin: 10px;
  color: #fff;
  font-size: 1.7rem;
  justify-content: center;
}

/* Media Queries */

@media (max-width: 767px) {
  /* Mobile-first media query styles */

  /* Navbar */
  .navbar__container {
    margin: auto;
   padding: 20px 20px; /* Adjust padding for smaller screens */
   display: flex;
   flex-direction: column;
  }

  .navbar__content {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
  }

  .navbar__logo {
    font-size: 24px;
    margin-bottom: 10px; /* Add some space below the logo on smaller screens */
  }

  .mobile-menu {
    display: block; /* Show the mobile menu icon on smaller screens */
  }

  /* About Section */
  .about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .img-side__main-img {
    height: auto;
    width: 100%;
  }

  .text-side h4 {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .text-side p {
    font-size: 16px;
    line-height: 1.6;
  }

  /* Project Section */
  .project-row,
  .project-row-2 {
    flex-direction: column;
  }

  .project-column {
    margin-bottom: 2rem; /* Add some spacing between project columns on smaller screens */
  }

  .project-img {
    width: 100%;
    height: auto;
  }

  /* Contact Me Section */
  .contact__content {
    text-align: center;
  }

  /* Footer Section */
  footer {
    padding: 3rem 0;
  }
}